<header>
  <button ng-click="voltar()" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Voltar</button>
  <h1>Dietas</h1>
</header>
<div class="col-xs-12">
  <div class="row" ng-repeat="dieta in dietas">
    <br>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{dieta.nome_dieta}}</h3>
      </div>
      <div class="panel-body">{{dieta.conteudo}}</div>
    </div>
    <a ng-click="editar(dieta.id)" class="btn btn-md btn-primary">Editar</a>
    <a ng-click="excluir(dieta.id)" class="btn btn-md btn-danger">Excluir</a>
  </div>
  <br/>
</div>
