<div class="jumbotron">
  <h1>TREINOS</h1>
</div>
<div class=" col-xs-12 col-lg-12" ng-if="exibido">
  <!-- ng-hide
  ng-switch="aluno"
  ng-switch-when="Eduardo"
  ng-switch-when="Renan"
  ng-swtich-default -->
</div>

<!-- <input type="text" class="form-data" ng-model="procuraTexto">
<table class="table table-striped">
  <tr><th>Nome</th><th>Telefone</th></tr>
  <tr ng-repeat="aluno in alunos | filter:procuraTexto">
    <td>{{aluno.nome}}</td>
    <td>{{aluno.telefone}}</td>
  </tr>
</table> -->
<!-- <form novalidate>
  <div class="col-xs-12 col-lg-12">
    <div class="form-group">
      <label class="form-control-label">Aluno</label>
      <select class="form-control" ng-model="alunoSelecionado" ng-change="carregarTreinos()" ng-options="aluno.nome for aluno in alunos">
        <option value="">Selecione</option>
      </select>
    </div>
  </div> -->
  <div class="col-xs-12 col-lg-12">
    <div class="form-group">
      <label class="form-control-label">Treino</label>
        <select class="form-control" ng-model="treinoSelecionado" ng-change="carregarExercicios()" ng-options="treino.nome_treino for treino in treinos">
      <option value="">Selecione</option>
    </select>
    </div>
    <div>
      <!-- <button class="btn btn-warning" ng-click="limpar()">Limpar!</button> -->
    </div>
  </div>
</form>


<hr>
<div class="col-xs-12 col-lg-12">
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <!-- <td>ID</td> -->
        <td>Exercicio</td>
        <td>Repetições</td>
        <!-- <td>Peso</td> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="exercicio in exercicios">
        <!-- <td>{{exercicio.id}}</td> -->
        <td>{{exercicio.nome_exercicio}}</td>
        <td>{{exercicio.repeticoes}}</td>
        <!-- <td>{{exercicio.peso}}</td> -->
      </tr>
    </tbody>
  </table>
</div>


<!-- </div> -->
