<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">MEU PERFIL</h2>
  </div>
  <div class="panel-body">
    <div class="media">
      <div class="media-left media-middle">
        <img src="images/aluno1.png" height="100px" width="100px" class="img-rounded">
      </div>
      <div class="media-body">
        <small>Nome: </small>
        <strong>{{aluno.nome}}</strong>
        <br>
        <small>Objetivo: </small>
        <strong>{{aluno.objetivo == 'H' ? 'Hipertrofia' : 'Perda de Peso' }}</strong>
        <br>
        <small>E-mail: </small>
        <strong>{{aluno.email}}</strong>
        <br>
        <small>Telefone: </small>
        <strong>{{aluno.telefone}}</strong>
        <br>
      </div>
      <br>
      <button ng-click="historicoObjetivo()" type="button" class="btn btn-primary btn-group-justified btn-lg">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span><br>
        Histórico de objetivos
      </button>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-lg-3">
        <button ng-click="meusTreinos()" type="button" class="btn btn-primary btn-group-justified btn-lg">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span><br>
          Meus Treinos
        </button>
        <br>
      </div>
      <div class="col-xs-12 col-lg-3">
        <a href="#/aluno/dietas" class="btn btn-primary btn-group-justified btn-lg">
          <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span><br>
          Minhas Dietas
        </a>
        <br>
      </div>
      <div class="col-xs-12 col-lg-3">
        <button ng-click="editarPerfil()" type="button" class="btn btn-primary btn-group-justified btn-lg">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span><br>
          Editar Perfil
        </button>
        <br>
      </div>
      <div class="col-xs-12 col-lg-3">
        <a href="#/ranking" class="btn btn-primary btn-group-justified btn-lg">
          <span class="glyphicon glyphicon-signal" aria-hidden="true"></span><br>
          Ranking
        </a>
        <br>
      </div>
    </div>
  </div>
</div>
<div ng-if="showMeMeusTreinos">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Treinos</h2>
    </div>
    <div class="panel-body">
      <!-- <input class="form-control" type="text" ng-model="model.treinoSelecionado" list="myList" ng-change="carregarExercicios()" />
      <datalist id="myList">
        <option ng-repeat="treino.id_treino as treino.nome_treino for treino in treinos track" value="{{treino.id}}"/>
        <option ng-repeat="treino.id as treino.nome_treino for treino in treinos"/>
      </datalist> -->
      <select
        class="form-control"
        ng-model="model.treinoSelecionado"
        ng-change="carregarExercicios()"
        ng-options="treino.id as treino.nome_treino for treino in treinos">
      </select>
      <br>
      <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th>Exercicio:</th>
            <th>Repetições:</th>
            <th>Gif:</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="exercicio in exercicios">
            <td>{{exercicio.nome_exercicio}}</td>
            <td>{{exercicio.repeticoes}}</td>
            <td ><img ng-if="ver[$index] == true" ng-src={{exercicio.gif}}><button ng-click="abrirGif($index)">VER</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div ng-if="showMeEditarPerfil">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Perfil</h2>
    </div>
    <div class="panel-body">
      <form action="">
        <div class="form-group">
          <label class="form-label-control">Nome: </label>
          <input type="text" name="nome" class="form-control" ng-model="aluno.nome" />
        </div>
        <div class="form-group">
          <label class="form-label-control">Objetivo: </label>
          <select class="form-control" ng-model="aluno.objetivo">
            <option value="H">Hipertrofia</option>
            <option value="PP">Perda de Peso</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label-control">E-mail: </label>
          <input type="text" name="nome" class="form-control" ng-model="aluno.email" />
        </div>
        <div class="form-group">
          <label class="form-label-control">Telefone: </label>
          <input type="text" name="nome" class="form-control" ng-model="aluno.telefone" />
        </div>
        <button ng-click="updatePerfilA()" type="button" class="btn btn-success btn-group-justified btn-lg">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><br>
          Editar Perfil
        </button>
      </form>
    </div>
  </div>
</div>
<div ng-if="showHistoricoObjetivo">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Seu Histórico de Objetivos</h2>
    </div>
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th>Data:</th>
          <th>Objetivo:</th>
          <!-- <th>Duração Período:</th> -->
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="objetivo in objetivos">
          <td>{{objetivo.data | date:'dd/MM/yyyy'}}</td>
          <td>{{objetivo.objetivo == 'H' ? 'Hipertrofia' : 'Perda de Peso'}}</td>
          <!-- <td>{{objetivo.data}}</td> -->
        </tr>
      </tbody>
    </table>
