<!-- <div class="container-fluid">
<div class="row">
<nav class="navbar navbar-default" role="navigation">

      <div class="navbar-header">
        <img class="col-lg-12 col-xs-12" src="images/imagemacademia1.jpg">
      </div>
    </nav>

  </div>
  </div> -->
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>

<div class="row">
  <div class="col-lg-12 col-xs-12 form-group">
    <!-- <div class="alert alert-warning" role="alert">
      <span>{{welcomeMsg}}</span>
    </div> -->
  </div>
</div>
<div class="col-xs-12 col-lg-12">
  <form name="form" ng-submit="login()" role="form">
    <div class="form-group">
      <label for="username"></label>
      <input type="text" name="username" id="username" class="form-control" ng-model="username" placeholder="Digite aqui o seu usuário:"/>
    </div>
    <div class="form-group">
      <label for="password"></label>
      <input type="password" name="password" id="password" class="form-control" ng-model="password" placeholder="Digite aqui a sua senha:" />
    </div>
    <div class="form-group">
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Entrar</button>
        <a href="#/register" class="btn btn-link">Cadastre-se</a>
      </div>
    </div>
  </form>
  <div class="form-group">
    <div class="form-actions">
      <button type="submit" ng-click="loginFacebook()" class="btn btn-primary">Entrar com Facebook</button>
    </div>
  </div>
</div>
<br/>
