<div class="jumbotron">
   <h1>GAINWEB</h1>
</div>
<div class=" col-xs-12 col-lg-12" ng-if="exibido">
  <!-- ng-hide
  ng-switch="aluno"
  ng-switch-when="Eduardo"
  ng-switch-when="Renan"
  ng-swtich-default -->
  </div>
  <!-- <form novalidate> -->

    <div class="col-xs-12 col-lg-12">
      <div class="form-group">
        <label class="form-control-label">Aluno</label>
        <select
        class="form-control"
        ng-model="alunoSelecionado"
        ng-change="carregarAluno(alunoSelecionado, treinoSelecionado)"
        ng-options="aluno.nome for aluno in alunos">
        <option value="">Selecione:</option>
      </select>
    </div>
  </div>

  <div class="col-xs-12 col-lg-12">
    <div class="form-group">
      <label class="form-control-label">Treino</label>
      <select
      class="form-control"
      ng-model="treinoSelecionado"
      ng-change="carregarTreino(alunoSelecionado, treinoSelecionado)"
      ng-options="treino.nome_treino for treino in treinos">
      <option value="">Selecione:</option>
    </select>
  </div>
  <div>
    <button class="btn btn-warning" ng-click="limpar()">Limpar!</button>
  </div>
      <!-- <input type="text" class="form-control" ng-model="dadoInserido"> -->
    </div>


  <hr>
  <!-- <pre>
    {{dadoInserido}}
  </pre>
  <hr>
  <pre>
    {{alunos | json}}
  </pre> -->
  <table class="table table-responsive">
    <thead>
      <tr>
        <td>ID</td>
        <td>Exercicio</td>
        <td>Repetições</td>
        <td>Peso</td>
      </tr>
    </thead>
    <tbody>
      <!-- <tr ng-repeat="aluno in alunos">
        <td>{{aluno.id}}</td>
        <td>{{aluno.nome}}</td>
        <td>{{aluno.telefone}}</td>
      </tr> -->
      <tr ng-repeat="exercicio in exercicios">
        <td>{{exercicio.id}}</td>
        <td>{{exercicio.nome}}</td>
        <td>{{exercicio.repeticoes}}</td>
      </tr>
    </tbody>
  </table>
</form>

<!-- </div> -->
