<button ng-click="voltar()" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Voltar</button>
<h2>RANKING</h2>
<div class="panel panel-primary">
  <div class="panel-heading">
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
    <h3>EMAGRECIMENTO</h3>
    <table class="table">
      <tr>
        <th>Nome</th>
        <th>Pontos</th>
        <th ng-if="user.tipo !== 'A'">Ações</th>
      </tr>
      <tr ng-repeat="pp in ranking | orderBy:'-pontos'" ng-if="pp.objetivo === 'PP'">
        <td>{{pp.nome}}</td>
        <td>{{pp.pontos}}</td>
        <td ng-if="user.tipo !== 'A'">
          <div class="btn-group pull-right nowrap">
            <a class="btn btn-primary btn-xs" ng-click="adicionarPontos(pp)"><span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-danger btn-xs" ng-click="removerPontos(pp)"><span class="glyphicon glyphicon-remove"></span></a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
    <h3>HIPERTROFIA</h3>
    <table class="table">
      <tr>
        <th>Nome</th>
        <th>Pontos</th>
        <th ng-if="user.tipo !== 'A'">Ações</th>
      </tr>
      <tr ng-repeat="h in ranking | orderBy:'-pontos'" ng-if="h.objetivo === 'H'">
        <td>{{h.nome}}</td>
        <td>{{h.pontos}}</td>
        <td ng-if="user.tipo !== 'A'">
          <div class="btn-group pull-right nowrap">
            <a class="btn btn-primary btn-xs" ng-click="adicionarPontos(h)"><span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-danger btn-xs" ng-click="removerPontos(h)"><span class="glyphicon glyphicon-remove"></span></a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
</div>
</div>
</div>
